#buttons_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 12px;
  gap: 8px;
  width: 100%;
  max-width: 600px;
}

.button {
  padding: 8px;
  min-height: 100px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #f5822a;
  border: none;
  color: #fff;
}

.button:hover {
  background-color: #ee6d0b;
}

.button:active {
  background-color: #ff923e;
}
